:root {
    background-color: rgb(75, 140, 160)
}

* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 4rem;
}

#container {
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 10rem 0;
    padding: 4rem 0;
}

