*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --primary-color: #4bbedb;
    --secondary-color: #081874;
    --tertiary-color: #10a023;
    --quatenary-color: #ad1111;
}

body {
    font-size: 2rem;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(var(--primary-color), var(--secondary-color));
}

body.right {
    color: var(--tertiary-color);
}

body.wrong {
    columns: var(--quatenary-color);
}

.container {
    width: 500px;
    max-width: 80%;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 4px 4px 10px 4px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}

.btn {
    background-color: #8ee8ff;
    font-size: 1.2rem;
    border: 2px solid;
    border-radius: 15px;
    padding: 10px 12px;
}

.btn.correct {
    background-color: var(--tertiary-color);

}

.btn.wrong {
    background-color: var(--quatenary-color);
}

.start-btn, .next-btn {
    font-size: 1.6rem;
    font-weight: 16px;
    padding: 10px 20px;
}

.controls {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.hide {
    display: none;
}